@font-face {

    font-family: "Coffee";
    src: url(Coffee\ Spark.ttf);

}

body{

    background-image: url(logo_relogio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: khaki;

}

h1{

    font-family: 'Coffee';
    color: rebeccapurple;
    font-size: 20px;
 
}

#lblNome{

    color: hotpink;
    font-weight: bolder;

}

#lblSenha{

    color:coral;
    font-size: 25px;

}

.inputs{

    border: solid rebeccapurple 2px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    
}

.inputs::placeholder{

    color: #DFDFDF;
    font-size: 15px;
    padding-left: 10px;
    
}

.inputs:focus{

    outline: none;

}

.buttons{

    border: solid rebeccapurple 2px;
    font-size: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    opacity: 50%;
    cursor: pointer;

}

.buttons:hover{

    background-color:white;
    color: black;
    scale: 1.05;
    transition: 0.2s;

}