html{
height: 100%;
}

body{

height: 100%;
background-color: black;
margin: 0;

}

#container{

background-color: aquamarine;
height: 100%;

}

#topo{
        background-color: red;
        height: 20%;
        display: flex;
    }
    
    #topo-esquerdo{
        background-color: palevioletred;
        height: 100%;
        width: 25%;
    }
    
    #topo-meio{
        background-color: rebeccapurple;
        height: 100%;
        width: 50%;
    }
    
    #topo-direito{
        background-color: peru;
        height: 100%;
        width: 25%;}
#meio{
    background-color: grey;
    height: 60%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;

}#baixo{

    background-color: cornflowerblue;
    height: 20%;

}.buttons{

    height: 40px;
    width: 110px;

}